{% extends "base.html" %}

{% block content %}
  <section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
  <div class="overlay"></div>
  </section>
  <!-- END section -->
  <br>
  <br>
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mt0 mb50 text-center">Change password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form method="post" class="probootstrap-form mb60" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.as_p }}
                </div>
              </div>
            </div>

            <!-- END row -->
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
