{% extends 'base.html' %}
{% block title %}Hotels{% endblock %}

{% block content %}
  <h1>Here you can see all hotels</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for hotel in hotels %}
        <tr>
          <td>{{ hotel.name }}</td>
          <td>{{ hotel.address }}</td>
          <td>{{ hotel.price }}</td>
          <td>{{ hotel.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
