{% extends "base.html" %}

{% block content %}
  <h1>Create a Ticket</h1>
  <form id="ticket-form" data-urls="{% url 'manager:ajax_load_routes_and_hotels' %}" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Ticket</button>
  </form>
{% endblock %}

{% block script %}
  <script>
    $(function() {
      $('#id_trip').change(function() {
        var url = $('#ticket-form').attr('data-urls');
        var tripId = $(this).val();
        if (tripId) {
          $.ajax({
            url: url,
            data: {
              'trip': tripId
            },
            success: function(data) {
              $('#id_route').html(data);
              $('#id_hotel').html('');
            }
          });
        } else {
          $('#id_route').html('');
          $('#id_hotel').html('');
        }
      });

      $('#id_route').change(function() {
        var url = $('#ticket-form').attr('data-urls');
        var routeId = $(this).val();
        if (routeId) {
          $.ajax({
            url: url,
            data: {
              'route': routeId
            },
            success: function(data) {
              $('#id_hotel').html(data);
            }
          });
        } else {
          $('#id_hotel').html('');
        }
      });
    });

  </script>
{% endblock %}
