<footer class="probootstrap_section probootstrap-border-top">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">
        <h3 class="probootstrap_font-18 mb-3">Quick Links</h3>
        <ul class="list-unstyled">
          <li><a href="/" target="_blank">Home</a></li>
          <li><a href="{% url 'manager:trip-list' %}" target="_blank">Trips</a></li>
          <li><a href="{% url 'manager:hotel-list' %}" target="_blank">Hotels</a></li>
          <li><a href="{% url 'manager:route-list' %}" target="_blank">Routes</a></li>
        </ul>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-12 text-center">
        <p class="probootstrap_font-14">&copy; 2023. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://probootstrap.com/" target="_blank">ProBootstrap</a><small> (Don't remove credit link on this footer. See <a href="https://probootstrap.com/license/">license</a>)</small></p>
      </div>
    </div>
  </div>
</footer>
