<nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar" id="probootstrap-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Travel manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'manager:trip-list' %}">Trips</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'manager:hotel-list' %}">Hotels</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'manager:route-list' %}">Routes</a></li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="nav-link" style="color: white">Welcome, <a href="{% url 'manager:profile' pk=user.pk %}">{{ user.username }}</a></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manager:ticket-list' %}">My ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
